/*
 * CSS for paradigm.
 */
html, body {
  height: 100%;
  margin: 0;
}

.cue {
  font-weight: bold;  
}
#cue-a {
  color: blue;
}
#cue-b {
  color: orange;
}
.example {
 style='width: 700px;
}
.example-a {
  background: blue;
  style='float: left;
}
.example-b {
  background: orange;
  style='float: right;
}
.example-a, .example-b {
  padding: 1em;
}
.jspsych-display-element {
   overflow-y: hidden;
 }
.prime-a {
  background: blue;
}
.prime-b {
  background: orange;
}
/* FIXME: should be a way of centering image and prompt without absolute positioning */
#jspsych-image-keyboard-response-stimulus {
    /* centre image */
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#jspsych-image-keyboard-response-stimulus + div {
  padding-top: 250px;
}

/* mouse plugin */
canvas#response {
  display: block;
  margin: 0 auto;
  border-width: 0 2px;
  border-style: solid;
  border-color: white;
}
canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid white;
}
#tracker {
  display: hidden;
  position: absolute;
  top: 0;
  right: 10px;
  background-color: white;
}